body {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;

}

.logo {
  width: 500px;
  display: flex;
  align-items: center;
  margin: 0px 0px 10px 20px;
}

.logo p {
  margin-left: 20px;
  color: MediumAquamarine;
}

.nav-top {
  margin-right: 30px;
}

.nav-top a {
    color: black;
    margin-right: 30px;
}

/* Main*/
main {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-flow: column wrap;
  margin-right: 32px;
}

.image-content {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.narrative {
  font-size: 17px;
}

.text-content {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* First Column */
.large {
  width: 630px;
}

.lead-story {

}

.stories {
display: flex;
justify-content: space-between;
}

.story {
display: flex;
flex-direction: column;
width: 300px;
justify-content: space-between;
}

.image-main {
  height: 300px;
  width: 629px;
  background-image: url("../images/img-story-main.png");
}

.image-main h1 {
  font-size: 40px;
  text-align: left;
  padding: 30px;
}

.image-2 {
  height: 300px;
  width: 299px;
  background-image: url("../images/img-story-2.png")
}

.image-3 {
  height: 300px;
  width: 299px;
  background-image: url("../images/img-story-3.png")
}

/* Second Column */
.medium {
  width: 300px;
}

.image-1 {
  height: 300px;
  width: 299px;
  background-image: url("../images/img-story-1.png")
}

.top-headline {
  margin-top: -4px;
}

/* Third Column */
.small {
  width: 240px;
}

nav.news-bite {
  width: 240px;
}

nav.news-bite a{
  display: block;
  border-bottom: solid 1px black;
  color: black;
  text-decoration: none;
  padding: 10px 30px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

nav.news-bite a:hover {
  background-color: DimGray;
  color: white;
}

h3 {
  text-align: center;
  margin: 16px 0px 41px 0px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Times New Roman"
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  height: 325px;
}

.title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-right: 30px;
  padding-right: 30px;
  border-right: solid 2px white;
}

.info {
  display: flex;
  margin-bottom: 10px;
}

.nav-bottom a {
  margin-right: 20px;
  color: black;
}
