body {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

}

div {
  border: 1px solid black;
  margin: 5px;
  overflow: hidden;
}

.logo {
  width: 500px;
  display: flex;
  align-items: center;
  margin: 0px 0px 10px 20px;
}

.logo p {
  margin-left: 20px;
  color: MediumAquamarine;
}

.nav-top {
  margin-right: 30px;
}

.nav-top a {
    color: black;
    margin-right: 30px;
}

/* Main*/
main {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-flow: column wrap;
  margin-right: 32px;
}

.image-content {

}

.narrative {

}

.text-content {

}

/* First Column */
.large {
  width: 630px;
}

.lead-story {

}

.stories {

}

.story {

}

.image-main {
  height: 300px;
  width: 629px;
  background-image: url("../images/img-story-main.png")
}

.image-2 {
  height: 300px;
  width: 299px;
  background-image: url("../images/img-story-2.png")
}

.image-3 {
  height: 300px;
  width: 299px;
  background-image: url("../images/img-story-3.png")
}

/* Second Column */
.medium {
  width: 300px;
}

.image-1 {
  height: 300px;
  width: 299px;
  background-image: url("../images/img-story-1.png")
}

/* Third Column */
.small {
  width: 240px;
}

nav.news-bite {
  width: 240px;
}

nav.news-bite a{
  display: block;
  border-bottom: solid 1px black;
  color: black;
  text-decoration: none;
  padding: 10px 30px;
}

h3 {
  text-align: center;
  margin: 16px 0px 41px 0px;
}
